<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>986899787158-oncqrj6i29og1jng7kgfhttcbqedaemt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.986899787158-oncqrj6i29og1jng7kgfhttcbqedaemt</string>
	<key>API_KEY</key>
	<string>AIzaSyAnrnLw8FQssbN-e6G73px53AWmtvpd3cc</string>
	<key>GCM_SENDER_ID</key>
	<string>986899787158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nayan.MyChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-de867</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-de867.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:986899787158:ios:d25ddf13ebf75ec12f81b7</string>
</dict>
</plist>